{% if active_class and object %}
{% include include_template_name %}

<script type="text/javascript">
    function setup_friendship(click_selector, action_url, hide_selector, show_selector) {
        $(click_selector).click(function() {
            $.ajax({
                url: action_url,
                success: function(html){
                    $(hide_selector).each(function(i){
                        $(this).css('visibility', 'hidden');
                        $(this).css('display', 'none');
                    });
                    $(show_selector).each(function(i){
                        $(this).css('visibility', 'visible');
                        $(this).css('display', 'block');
                    });
                }
            });
            return false;
        });
    }
</script> 
{% endif %}
